            <div class="panel-body">
            	<%= form_for @contact do |f| %>
            		<div>
              		<%= f.label :title %>
              		<%= f.select :title, ["Dr.", "Mr.", "Mrs.", "Ms.", "Sir", "Prof."], {prompt: true}, { class: "form-control" } %>
            		</div>
            		<div>
              		<%= f.label :first_name %>
              		<%= f.text_field :first_name, class: "form-control" %>
            		</div>
                <div>
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, class: "form-control" %>
                </div>
            		<div>
              		<%= f.label :cell_phone, "Cell" %>
              		<%= f.text_field :cell_phone, class: "form-control"  %>
            		</div>
            		<div>
              		<%= f.label :email %>
              		<%= f.text_field :email, class: "form-control" %>
            		</div>
            		<div>
              		<%= f.label :account %>
              		<%= f.collection_select :email, Account.all, :id, :name, {prompt: true}, { class: "form-control" } %>
            		</div>
            		<p>
            		<div>
									<%= f.submit @contact.new_record? ? "Create Contact" : "Update Contact", class: "btn btn-default" %>
								</div>
							<% end %>	              
            </div>
            <!-- /.panel-body -->        
          