            <div class="panel-body">
            	<%= form_for @system_user do |f| %>
            		<div>
              		<%= f.label :username %>
              		<%= f.text_field :username, class: "form-control" %>
            		</div>
                <div>
                  <%= f.label :password %>
                  <%= f.text_field :password, class: "form-control" %>
                </div>
            		<div>
              		<%= f.label :disabled %>
              		<%= f.check_box :disabled %>
            		</div>
                <div>
                  <%= f.label :employee_id %>
                  <%= f.collection_select :employee_id, Employee.all, :id, :first_name, { prompt: true }, { class: "form-control" 
                  } %>
                </div>
            		<div>
              		<%= f.label :system_group %>
              		<%= f.collection_select :system_group_id, SystemGroup.all, :id, :name, { prompt: true }, { class: "form-control" } %>
            		</div>
            		<p>
            		<div>
									<%= f.submit @system_user.new_record? ? "Create System User" : "Update System User", class: "btn btn-default" %>
								</div>
							<% end %>	              
            </div>
            <!-- /.panel-body -->        
          