    <!-- display error on page if any -->
    <% if @system_user.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
            <p>Please correct the following <%= pluralize(@system_user.errors.count, "error") %>:</p>
            <ul>
                <% @system_user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit System User</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-9 col-md-9">
          <div class="panel panel-primary">
            <!-- /.panel-heading -->
            <div class="panel-heading">
                Edit System User Details
            </div>

            <%= render 'form' %>

            </div>
          <!-- /.panel -->
          </div>
        <!-- /.col-lg-9 -->
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-primary">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p><%= link_to "All System Users", system_users_path %></p>
                <p><%= link_to "New System User", new_system_user_path %></p>
                <p><%= link_to "Delete System User", @system_user, method: :delete, data: { confirm: "You sure?" } %></p>
            </div>
            <!-- /.panel-body -->        
          </div>
            <!-- /.panel -->
        </div>
        <!-- end div col-lg-3 -->
    </div>
    <!-- /.row -->
  </div>